<h1 class="title">Product Details</h1>
    <img src="{{product.thumbnails}}" class="product-image" alt="{{product.title}}">
    <h2>{{product.title}}</h2>
    <p>{{product.description}}</p>
    <p>Price: {{product.price}}</p>
    <p>Category: {{product.category}}</p>
    <form action="/carts/{{cartId}}/products/{{product._id}}" method="POST">
        <button type="submit">Add to Cart</button>
    </form>