<h1>All Products</h1>
<div>
    {{#each products}}
    <div class="margin">

        <h2 class="product-title">{{title}}</h2>
        <img src="{{{thumbnails}}}" class="product-image" alt="{{title}} Thumbnail">
        <p>Price: {{price}}</p>
        <p>Category: {{category}}</p>
        <a href="/products/{{_id}}" class="margin">View Details</a>
        <form action="/carts/{{cartId}}/products/{{_id}}" method="POST">
            <input type="hidden" name="cartId" value="{{cartId}}">
            <button type="submit">Add to Cart</button>
        </form>

    </div>
    {{/each}}
</div>
<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!-- Previous Page Link -->
        <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
            <a class="page-link" href="{{#if hasPrevPage}}/products?page={{prevPage}}{{else}}#{{/if}}">Previous Page</a>
        </li>

        <!-- Next Page Link -->
        <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
            <a class="page-link" href="{{#if hasNextPage}}/products?page={{nextPage}}{{else}}#{{/if}}">Next Page</a>
        </li>
    </ul>
</nav>