<div>
    <h1>Bienvenido {{user.firstName}} {{user.lastName}}</h1>
    <h2>Datos del perfil:</h2>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>

</div>

<a href="/">Inicio</a>